.header {
    background-color: rgb(65, 154, 166);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.header__title {
    text-align: center;
}