.header {
    background-color: rgba(131, 142, 185, 0.768);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.header__title {
    text-align: center;
}