@import url('./reset.css');
@import url('./header.css');
@import url('./nav-buttons.css');
@import url('./buttons-tables.css');
@import url('./base-info.css');




.main-table, .rossreestr-table, .tax-table, .payments-tabel,
.electric-table {
    border-collapse: collapse;
}


.wrp-tables {
    display: flex;
    gap: 20px;
}

.wrp-left, .wrp-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #e90000;
    justify-content: space-between;
}

.wrp-left, .wrp-right {
    width: 50%;
    height: 400px;
}



.tax-table {
    margin-top: auto;
    /* Прижимает таблицу к нижней части контейнера */
    /* flex-grow: 1; */
}